/* todo - 3 screen size responsiveness */
/* mobile: flex column, header with hamburger, opens list below header */
/* med: like mobile but with padding (max widths?) */
/* pc: sidebar instead of header, no hamburger */

/* question: how to use the same header for this */

/* question what will my side headers be */

/* reusing css / app themes */
/* currently have classes setup on index.css */
/* option 1: use the class names */
/* option 2: use less for mixins */
/* option 3: hardcoded values */
/* option 4: mui themes */
/* option 5: could style components do this? */

/* pros to least effort -> get it done */
/* cons to least effort -> could be missing out on low effort process upgrades */

/* pros to more effort -> could upgrade process */
/* cons to more effort -> might not get done, complicating things */

/* answer -> use least effort for now and upgrade later */

/* mvp portfolio */

/* picture + intro */

/* scroll - timeline or hamburger menu? */
/* since each page would need substantial content and im not ready for that, timeline */
/* can always expand content later and add a menu */

/* keep it as simple as possible while presenting professionalism and pretty design */

/* mvp design */

/* dark gray header, light gray main content, very slight yellow trim (.5px) */
/* bright white text */
/* responsive design, mostly flex column for now, add fancy header stuff later */

/* thinking ahead */

/* hamburger menu for more pages/content */
/* header to side on max screen */
/* hamburger on small and med */
/* padding on med */

/* okay so ftf actionables */

/* picture + intro in a paragraph */
/* timeline entry */

.container {
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

@media (max-width: 699px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

@media (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.padding-left {
  padding-left: 16px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: span 3;
}

.padding {
  padding: 8px;
}

.column {
  display: flex;
  flex-direction: column;
}



/* header */

header {
  display: flex;
  grid-column: span 3;
  text-align: center;
  font-size: 1em;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 16px;
}

/* @media (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
  }
}

@media (max-width: 699px) {
  header {
    display: flex;
    flex-direction: column;
  }
} */



/* background */

.container {
  background-image:  url('./wavey.png');
}