.header-img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin: 16px;
}

.rounded {
    border-radius: 50%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel {
    border-radius: 10px;
    margin: 16px;
    max-width: 100%;
    opacity: 0.96;
    z-index: 101;
}

@media (max-width: 320px) {
    .panel {
        width: 100%;
        border-radius: 0px;
    }
}

.text-container { 
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    color: white;

}